POLYMARKET_CLOB_URL=https://clob.polymarket.com
POLYMARKET_API_URL=https://polymarket.com/api
GAMMA_API_POLYMARKET_URL=https://gamma-api.polymarket.com
DATA_API_POLYMARKET_URL=https://data-api.polymarket.com

WS_POLYMARKET_MARKET_URL=wss://ws-subscriptions-clob.polymarket.com/ws/market
WS_POLYMARKET_USER_URL=wss://ws-subscriptions-clob.polymarket.com/ws/user
WS_POLYMARKET_WS_LIVE_DATA_URL=wss://ws-live-data.polymarket.com

CHAIN_ID=137
POLYGON_ADDRESS_WALLET=0x_your_polygon_address
PRIVATE_KEY_WALLET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FUNDER_ADDRESS=0x_from_polymarket
